
/**
	Default styles and background
**/

* {
	font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(#F00, #800);
}

#control-panel button {
	padding: 15px;
	font-size: 1.5em;
	color: white;
	background: black;
	border: 2px solid white;
	border-radius: 10px;
	outline: none;
	margin: auto;
	transition: all 0.3s linear;
}

#control-panel button:hover {
	border-color: red;
	background: #222222;
}

#toolbar button {
	font-size: 1.2em;
	padding: 10px;
}

#status {
	background: black;
	color: white;
	font-size: 1.4em;
	padding: 10px;
	border-radius: 10px;
}

#frame {
	width: 100vw;
}

#control-panel {
	width: 800px;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	padding: 15px;
}

#squid { 
	display: block;
	margin: auto;
}

#title {
	font-weight: bolder;
	color: #FFF;
	width: 100vw;
	text-align: center;
}

.container {
	width: 980px;
	margin: auto;
}